*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /*default is 16px, 16x0.625=10px= 1rem */
}
body{
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;

}
/*make links without underscore */
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: orange;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header{
    grid-area: header;
    background-color: #3b3b6df1;
    color: cornsilk;
    display: flex; /*to keep all in 1 row */
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
header a{
    color: cornsilk;
    padding-right: 00.5rem;
    text-decoration: none;
}
header a:hover{
    color: orange;
}
button{
    cursor: pointer;
}
input,
button{
    font: 1.6rem helvetica;
    padding: 1rem;
    border: 0.1rem #949393 solid;
    border-radius: 00.5rem;
    
}
button.primary{
    background-color: rgb(206, 175, 0);
}
input:hover,
button:hover{
    border-color: #444444;
}

.overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);

}
.overlay.active{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay > div{
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 40rem;
}
.overlay > div > *{
    margin: 2rem;
}

.fw{
    width: 100%;
}
.success{
    color: green;
}
.error{
    color: maroon;
}
.brand a{
    font-size: 3rem;
    font-weight: bold;
    padding-left: 1rem;
}
footer{
    background-color: #3b3b6df1;
    color: cornsilk;
    display: flex; 
    justify-content: center;
    align-items: center;
}
/* product style
*/
.products{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.products li{
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    border-top: darkgray 0.2rem solid;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}
.product img{
    max-height: 26rem;
    max-width: 22rem;
    margin-top: 2rem;
}
.product-name{
    line-height: 2.2rem;
}
.product-brand{
    font-size: 1.2rem;
    color: gray;
}
.product-price{
    font-size: 2rem;
}
/* rating stars */
.rating{
    font-size: 1.8rem;
    color: rgb(206, 175, 0);
}
/* color of text */
.rating span:last-child{
    color: #444444;
    font-size: 1.4rem;
}
.content{
    padding: 1rem;
}
/* product details */
.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.details-image{
    flex: 2 1 60rem;
}
.details-image img{
    max-width: 60rem;
    width: 100%;
}
.details-info, .details-action{
    flex: 1 1 30rem;
}
.details-action ul,
.details-info ul{
    padding: 0;
    list-style-type: none;
}
.details-info h1{
    font-size: 2rem;
    margin: 0;
}
.details-info li,
.details-action li{
    margin-bottom: 1rem;
}
.details-action{
    background-color: rgb(231, 231, 231);
    border: 0.1rem;
    border-style: solid;
    border-radius: 00.5rem;
    
    border-color: rgb(109, 109, 109);
    padding: 1rem;

}
/* cart list */
.cart{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.cart-list{
    flex: 3 1 60rem;
}
.cart-action{
    flex: 1 1 20rem;
    padding: 1rem;
    background-color: rgb(231, 231, 231);
    border: 0.1rem;
    /* border-style: solid; */
    border-radius: 00.5rem;
}
.cart-list-container{
    padding: 1rem;
    list-style-type: none;
}
.cart-list-container li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 00.1rem grey solid;
}
.cart-list-container img{
    max-width: 10rem;
    max-height: 10rem;
}
.cart-list-container li:first-child{
    align-items: flex-end;
}
.cart-image{
    flex: 1 1;
}
.cart-name{
    flex: 8 1;
}
.cart-price{
    flex: 1 1;
    text-align: right;
}
.cart-name div{
    padding: 1rem;
}
.cart-list h3{
    margin: 0;
}
.cart-list button,
.cart-list select{
    font-size: 1.3rem;
    padding: 00.5rem;
}
/* form */
.form-container{
    display: flex;
    /* align-content: flex-start; */
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    align-items: flex-start;
}
.form-container h1{
    font-size: 2.5rem;
}
.form-items{
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    background-color: rgb(231, 231, 231);
    border: 0.1rem;
    border-style: solid;
    border-radius: 00.5rem;
    border-color: rgb(109, 109, 109);
    list-style-type: none;
}
.form-items li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Checkout */
.checkout-steps{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
}
.checkout-steps > div{
    border-top: 00.5rem lightgrey solid;
    flex: 1 1;
    color: rgb(109, 109, 109);
    padding-top: 1rem;
}
.checkout-steps > div.active{
    border-top: 00.5rem darkorange solid;
    color: darkorange;
}

/* Place order */
.order{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;

}
.order h2{
    margin: 0;
    padding-bottom: 1rem;
    font-size: 2rem;
}
.order .cart-list-container{
    padding: 0;
}
.order-info{
    flex: 3 1 60rem;
}
.order-info > div{
    border: 00.1rem darkgray solid;
    border-radius: 00.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(231, 231, 231);
}
.order-info > div:first-child{
    margin-top: 0;
    
}
.order-info > div > div{
    padding: 1rem;
}

.order-action{
    flex: 1 1 20rem;
    border: 00.1rem darkgray solid;
    border-radius: 00.5rem;
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    background-color: rgb(231, 231, 231);
}
.order-action > ul{
    margin: 0;
    list-style-type: none;
}
.order-action li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.order-action .total{
    font-size: 2rem;
    font-weight: bold;
    color: maroon;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.profile-info{
    flex: 1 1 20rem;
}
.profile-orders{
    flex: 3 1 60rem;
    margin-left: 1rem;
}

table{
    width: 100%;
}
th{
    text-align: left;
}

tbody >tr:nth-child(odd){
    background-color: lightgrey;
}

td{
    padding: 00.5rem;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.dashboard h1{
    font-size: 3rem;
    margin: 1rem 0;
}
.dashboard-menu{
    flex: 1 1 20rem;
    background-color: lightgray;
}
.dashboard-menu ul{
    padding: 0;
}
.dashboard-menu a{
    display: flex;
    padding: 1rem;
    padding-left: 2rem;
    justify-content: space-between;
}
.dashboard-menu a:hover{
    background-color: darkgray;
}
.dashboard-menu li.selected a{
    background-color: darkgray;
    color: maroon;
}
.dashboard-content{
    flex: 4 1 80rem;
    padding: 1rem;
}